.agro__container {
    width: 100%;

}

.agro__section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.agro__logo {
    background-color: #ECE0B5;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    padding: 30px 30px;
    margin-bottom: 30px;
}

.arrow__rotated {
    transform: rotate(-90deg);
}

.agro__category {
    display: flex;
    flex-direction: row;
    background-color: #ECE0B5;
    padding: 20px;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}


.category__logo {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black;
}

.category__logo img {
    padding-right: 8px;
}

.addvertation__card {
    position: relative;
}

.agro__addvertation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px;
    flex-wrap: wrap;
}

.agro__list {
    background-color: #ECE0B5;
    border-radius: 35px;
    padding: 60px;
    margin: 0 0 40px 0;
}

.addvertation__card span {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%);
    color: white;
    font-size: 24px;
    font-weight: 600
}

.list__section {
    width: 100%;
}

.list__section h5 {
    font-size: 32px;
}

.list__card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 30px;
    padding: 15px;
    padding-top: 30px;
    text-decoration: none;
    color: black;
}

.list__card img {
    width: 170px;
    height: 100px;
}

.list__card h6 {
    font-size: 16px;
    font-weight: 400;
}

.list__card p {
    color: #838383;
    font-size: 10px;
}

.list__card span {
    font-weight: 700;
    font-size: 14px;
}


.list__cards {
    display: flex;
    flex-direction: row;
    margin: 30px;
    gap: 60px;
    flex-wrap: wrap;
}

@media (max-width: 1500px) {
    .agro__categories {
       display: none;
    }

}

@media (max-width: 500px) {
    .list__section h5 {
        text-align: center;
    }
}
